#título2 {
    text-align: center;
    font-family: 'Ebrima';
    background-color: green;
    color: rgb(250, 250, 250);
    font-size: 55px;
}
#centrar {
    text-align: center;
}
a:link {
    color: green;
}
a:visited {
    color: purple;
}
#navegador ul{
    list-style-type: none;
    text-align: center;
}
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 7px 7px;
    color: #060000;
    background-color: #eeeeee;
    border: 0.5px solid #ccc;
    text-decoration: none;
    font-family: 'Ebrima';
}

#navegador li a:hover{
    background-color: #a3d3a7;
    color: #000000;
    padding: 3px 8px 8px 8px;
    font-size: 18px;
}
body {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#Descripción {
    text-align: center;
    font-family: 'Ebrima';
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.textoOU {
    text-align: justify;
    background-color: white;
    opacity: 0.95;
    font-family: 'Ebrima';
    font-size: larger;
    padding: 5px 5px 5px 5px;
    position: absolute;
    right: 670px;
}
#derecha {
    text-align: right;
}
#footer{
    color: white;
    font-family: 'Ebrima';
}