#título {
    text-align: center;
    font-family: Silkscreen-Regular;
    background: linear-gradient(limegreen, lime);
    color: white;
    font-size: 55px;
}
@font-face {
    font-family: Silkscreen-Regular;
    src: url(Silkscreen-Regular.ttf) format('truetype')
}
a:link {
    color: green;
}
a:visited {
    color: purple;
}
#navegador ul{
    list-style-type: none;
    text-align: center;
}
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 7px 7px;
    color: #060000;
    background-color: #eeeeee;
    border: 0.5px solid #ccc;
    text-decoration: none;
    font-family: 'Ebrima';
}

#navegador li a:hover{
    background-color: #a3d3a7;
    color: #000000;
    padding: 3px 8px 8px 8px;
    font-size: 18px;
}
body {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#h2Página2 {
    text-align: center;
    font-family: 'Ebrima';
    color: rgb(255, 255, 255);
    font-size: 40px;
}
#texto2 {
    background-color: white;
    opacity: 0.95;
    font-family: 'Ebrima';
    font-size: larger;
    padding: 5px 5px 5px 5px;
    position: absolute;
    left: 909px;
    bottom: -242px;
}
#texto3 {
    background-color: white;
    opacity: 0.95;
    font-family: 'Ebrima';
    font-size: larger;
    padding: 5px 5px 5px 5px;
    position: absolute;
    left: 7px;
    bottom: -940px;
    right: 610px;
}
.moverFoto2Tips {
    position:absolute;
    left: 909px;
    bottom: -440px;
}
.moverFoto3Tips {
    position:absolute;
    left: 1120px;
    bottom: -640px;
}
.moverFoto4Tips {
    position:absolute;
    left: 909px;
    bottom: -943px;
}
#columnasTIPS {
    column-count:2;
    column-gap:10px;
    column-rule:4px dashed rgb(0, 0, 0);
}
#footerTIPS {
    color: white;
    font-family: 'Ebrima';
    position: relative;
    top: 660px;
}